header{  
  background: url('./header.jpg'); 
   min-height: 300px; 
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
   margin-bottom: 30px;   
}
.courses{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.course{
  max-width: 290px;
}
.course img{
max-width: 100%;
}

.course a{
  background-color: #2ecc71;
  padding: 10px;
  margin-left: auto;
  max-width: 80px;
  color: #fff;
  text-decoration: none;
}
.course span{
  display: flex;
  padding-top: 10px;
}
.course button{
  margin-right: 10px;
  
}

footer{
  background-color: #34495e;
  padding: 20px;
  color: #fff;
  margin-top: 10px;
}

.row{
  margin-bottom: -24px;  
}

.carousel img{
 
  width: 200px;
  height: 500px;
}

